<p style="color: green"><%= notice %></p>

<%= render @job_posting %>

<div>
  <%= link_to "Edit this job posting", edit_job_posting_path(@job_posting) %> |
  <%= link_to "Back to job postings", job_postings_path %>

  <%= button_to "Destroy this job posting", @job_posting, method: :delete %>
</div>
<% if current_user && !current_user.job_postings.include?(@job_posting) %>
<%= link_to "Postular", new_application_path(job_posting_id: @job_posting.id), class: 'btn btn-primary' %>

<% end %>
